$black: #000;
$darker-translucent-black: rgba(0, 0, 0, .8);
$gray: #555;
$white: #fff;

body {
  background-attachment: fixed;
  background-image: url('../images/ireland.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;
  font-family: 'Mountains of Christmas', cursive;
  min-width: 1400px;
}

p {
  font-size: 30px;
}

.sidebar-nav {
  font-size: 30px;
  padding: 3px;
}

.sidebar-brand-name {
  font-size: 40px;
  margin-top: 10px;
  text-align: center;
}

.photo img {
  background-size: cover;
  border-radius: 10px;
  width: 100%;
}

.photo {
  border-radius: 10px;
  height: 175px;
  margin: 0 auto;
  margin-top: 330px;
  width: 200px;
}

.projects-view {
  background-color: $darker-translucent-black;
  border: 2px solid $white;
  border-radius: 30px;
  height: 3000px;
  margin: 0 auto;
  margin-top: 50px;
  padding-bottom: 300px;
  padding-left: 50px;
  padding-top: 30px;
  width: 500px;
}

.project-thumbnail {
  border-radius: 10px;
  clear: both;
  color: $white;
  font-size: 30px;
  height: 235px;
  margin: 0 auto;
  margin-bottom: 25px;
  margin-left: 100px;
  text-align: center;
  text-shadow: 0 5px 3px $black;
  width: 200px;
}

.project-thumbnail img {
  background-size: cover;
  border-radius: 10px;
  -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
  width: 100%;
}

.project-thumbnail:hover {
  color: $white;
  font-size: 35px;
  position: relative;
  text-shadow: 0 5px 3px $black;
  top: -10px;
}

.description {
  background: $white;
  border-radius: 15px;
  box-shadow: 0 0 15px 8px $gray;
  color: $black;
  font-family: arial;
  height: 250px;
  margin: 0 auto;
  margin-bottom: 100px;
  margin-right: 90px;
  margin-top: 70px;
  padding: 10px;
  text-align: center;
  width: 70%;
}

.description:nth-child(8) {
  height: 170px;
}

.description p {
  font-size: 16px;
}

.hidden {
  display: none;
}
